body {
  margin: 0;
  text-align: center;
  font-size: 2em;
}

#root {
  background-color: rgb(172, 156, 164);
  width: 700px;
  margin: 0 auto;
}

.Group1,
.Group2,
.Group3,
.Group4,
.Group5 {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
}

.result {
  background-color: gray;
  color: #fff;
  height: 100px;
  font-weight: bold;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}

.button-style {
  width: 25%;
  height: 100%;
}

.name-buttons {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #000;
  font-weight: bolder;
  font-size: 20px;
  border: 1px solid #999;
}

.zerobtn-style {
  width: 50%;
  height: 100%;
}
